/* regole generali */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

.clearfix {
  height: 100%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

li {
  color: gray;
}

h2, h3 {
  color: white;
}
/* regole main */

/* regole container */

.container {
  height: calc(100vh - 90px);
  background-color: cyan;
}

.destro {
  height: 100%;
  float: right;
  width: 83%;
  overflow: auto;
}

/* regole layover */

.layover {
  position: fixed;
  top: 0;
  right: 0;
  width: 83%;
  height: 90px;
  background-color: rgb(12, 15, 20);
  opacity: 0.7;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
}

/* regole elenco */

.elenco {
  margin-top: 110px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elenco ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.elenco li {
  margin-right: 15px;
}

.elenco li:hover {
  border-bottom: 2px solid #00ff00;
}


/* regole vetrina */

.vetrina {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 55px;
}

.riga1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.riga2, .riga3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.categoria {
  background-color: orange;
  margin-left: 55px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.brano {
  width: 150px;
  height: 150px;
  background-color: purple;
  margin-right: 20px;
  display: inline-block;
}

.titolo {
  background-color: brown;
  width: 150px;
}

.album {
  background-color: lime;
  width: 150px;
}

/* regole nav */
#navpiccolo {
  display: none;
  float: left;
  width: 10%;
  height: 100vh;
}

#navgrande {
  background-color: black;
  float: left;
  width: 17%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.logo {
  width: 100%;
  height: 90px;
  background-color: red;
}

.strumenti {
  width: 100%;
  height: 100px;
  background-color: green;
}

.playlist {
  width: 100%;
  height: 300px;
  background-color: blue;
}

.profilo {
  width: 100%;
  height: 78px;
  background-color: yellow;
}

/* regole mediaquery nav */

@media screen and (max-width: 600px) {
  .destro {
    width: 90%;
  }
  .layover {
    width: 90%;
    margin-left: 10%;
  }
  #navgrande {
    display: none;
  }
  #navpiccolo {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .blocco-icone-1 {
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blocco-icone-1 img {
    display: block;
    height: 35px;
  }
  .blocco-iconcine img {
    display: block;
    height: 30px;
  }
  .blocco-icone-2 {
    height: 170px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blocco-icone-2 i {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .blocco-icone-2 img {
    display: block;
    height: 35px;
    border-radius: 100px;
  }
}

/* regole player */

.player {
  height: 90px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #262626;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* primo blocco player */
.info {
  display: flex;
}

#miniatura, .nomi {
  margin-right: 20px;
}

#miniatura img {
  height: 50px;
}

.nomi a{
  text-decoration: none;
  font-weight: bold;
}

.nomi p {
  font-size: 15px;
  color: gray;
}

.icone {
  display: flex;
  align-items: center;
}

.icone i {
  margin-right: 18px;
}

/* secondo blocco player */
.tasti {
  align-content: center;
}

.esecuzione {
  display: flex;
  align-items: center;
}

.comandi {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comandi i {
  margin-right: 30px;
  border: 0;
  font-size: 30px;
}

#random, #repeat {
  font-size: 20px;
}

.tempo {
  display: inline-block;
}

#barra {
  margin-left: 10px;
  margin-right: 10px;
}

/* terzo blocco player */

.opzioni i {
  margin-right: 10px;
}
